
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1493089404677') format('truetype'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eleme1:before { content: "\e600"; }
.icon-eleme2:before { content: "\e600"; }

.icon-discover2:before { content: "\e60f"; }

.icon-discover1:before { content: "\e66f"; }

.icon-order2:before { content: "\e68e"; }

.icon-order1:before { content: "\e68d"; }

.icon-me2:before { content: "\e65d"; }

.icon-me1:before { content: "\e60d"; }







